body {
  background-color: springgreen;
}
li.dropdown:hover > .dropdown-menu {
  display: block;
}
.jumbotron {
  margin-top: 50px;
  padding-left: 50px;
  background-color: plum;
}
#video {
  background: #e3e3e3;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
#instruction {
  font-family: serif;
  font-size: 20px;
  margin-top: 50px;
  background-color: turquoise;
}
#recording {
  font-family: sans-serif;
  font-weight: bold;
}
#mini_test {
  font-family: serif;
  font-size: 20px;
  margin-top: 50px;
  background-color: plum;
}
#title_mini {
  font-family: sans-serif;
  font-weight: bold;
}
#feedback {
  font-family: serif;
  font-size: 20px;
  margin-top: 50px;
  background-color: turquoise;
}
#title_feedback {
  font-family: sans-serif;
  font-weight: bold;
}
.vocabulary {
  background-color: white;
}
#carousel {
  background-position: center;
  margin:auto;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.container {
  background-color: turquoise;
  border-radius: 10px;
}
.pagination {
  padding-left: 20px;
}
#instructions {
  margin-top: 50px;
  background-color: inherit;
  text-align: center;
}

#main {
width: 80%;
max-width: 950px;
border: 1px gray solid;
margin: auto;
padding: 10px;
background-color: white;
border-radius: 10px;
}

#header {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 250px;
background: beige;
background-image: url('../img/prea2.jpeg');
color: black;
text-shadow: black;
}
#header2 {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 250px;
background: beige;
background-image: url('../img/prea.jpg');
color: white;
text-shadow: black;
}
